div.digital-creation {
    padding: 100px 0;
}

div.digital-creation-list {
    display: flex;
    justify-content: space-around;
}

div.digital-creation-block {
    text-align: center;
    max-width: 40%;
}

div.digital-creation-block > img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
}

div.digital-creation-block > h1 {
    font-size: 1.5em;
    font-family: "Open Sans";
    font-weight: bold;
    margin-bottom: 25px;
}

div.digital-creation-block > p {
    font-family: 0.875em;
    font-family: "Open Sans";
    color: #808080;
    margin-bottom: 25px;
}