footer.footer {
  padding: 100px 0;
  background: #344b61;
}

div.footer-inside {
  font-family: "Open Sans";
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.footer-inside > h1 {
  color: #fff;
  font-size: 1.75em;
}

div.footer-inside > p {
  color: #f67b7c;
}

div.footer-social-icons {
  width: 10%;
  display: flex;
  justify-content: space-around;
}

div.footer-social-icons > a {
  color: #9aa5b0;
}

div.footer-social-icons > a:hover {
  color: #f67b7c;
}
